<div class="container section" id="contact">
  <div class="py-3">
    <h2 class="text-center">Nous contacter</h2>
  </div>

  <div class="row py-3">
    <div class="col-md-6 text-center">
      <img src="/assets/contact-main.jpg" class="main-pic"/>
    </div>

    <div class="col-md-6 text">
      <div class="py-4 text-center name">
        <h3>Manon Deloupy</h3>
        <h5><a href="tel:514-757-6363">(514) 757-6363</a></h5>
      </div>

      <div class="py-4 text-center">
        <h3>Charles Bastien</h3>
        <h5><a href="tel:514-941-8390">(514) 941-8390</a></h5>
      </div>
    </div>
  </div>
</div>
