<div class="container" id="rsvp">
  <h3 class="py-3 text-center">
    Merci de nous faire part de votre présence ou absence avant le <strong>1er juillet 2022</strong>
    en nous envoyant un courriel à <a href="mailto:manon.deloupy@gmail.com">manon.deloupy@gmail.com</a>
  </h3>
  <!-- <p class="py-3 text"> -->
  <!--   Merci de nous faire part de votre présence ou absence avant le <strong>1er juillet 2022</strong> -->
  <!--   en remplissant le formulaire ci-dessous. -->
  <!-- </p> -->

  <!-- <form id="rsvp-form" class="rsvp-form" action="" method="POST"> -->
  <!--   <div class="form-group mt-4"> -->
  <!--     <label for="name" class="col-form-label-lg">Votre nom complet</label> -->
  <!--     <input type="text" name="name" class="form-control form-control-lg" id="name" required> -->
  <!--   </div> -->

  <!--   <div class="form-group mt-4"> -->
  <!--     <label for="name2" class="col-form-label-lg">Nom de votre accompagnant</label> -->
  <!--     <input type="text" name="name2" class="form-control form-control-lg" id="name2"> -->
  <!--   </div> -->

  <!--   <div class="form-group mt-4"> -->
  <!--     <label for="email" class="col-form-label-lg">Votre courriel</label> -->
  <!--     <input type="email" name="email" class="form-control form-control-lg" id="email" required> -->
  <!--   </div> -->

  <!--   <div class="form-group mt-4"> -->
  <!--     <a class="btn btn-lg btn-gold btn-block" type="submit"> -->
  <!--       Je serai présent -->
  <!--     </a> -->
  <!--   </div> -->
  <!-- </form> -->
</div>
