<div class="container section" id="what">
  <div class="py-3">
    <div class="text-center">
      <h1>Ils vont se dire OUI</h1>
      <h6>... espèrent nos parents</h6>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-md-6 text-center">
      <img src="/assets/pic.jpeg" class="main-pic"/>
    </div>

    <div class="col-md-6 text">
      <h3 class="text-center">Venez célébrer avec nous !</h3>
      <p>
        Nous avons choisi cette photo pour nos faire-parts, car c'est la première que nous avons prise comme fiancés <i class="fa fa-heart"></i>.
        Vous êtes importants pour nous, c'est pourquoi nous souhaitons vous avoir près de nous pour prendre notre première photo en tant que jeunes mariés.
      </p>
    </div>
  </div>
</div>
