<div class="container section" id="where">
  <div class="row py-3">
    <div class="col-md-6 py-3 text">
      <p>
        La cérémonie et la fête auront lieu chez nous au Canada, à Saint-Blaise-sur-Richelieu. Nous vous enverrons un courriel avec l'horaire et tous les détails pratiques pour vous rendre chez nous.
      </p>

      <p class="text-center blockquote">
        1689 rue Principale
        <br>
        Saint-Blaise-sur-Richelieu
        <br>
        J0J 1W0, QC
        <br>
      </p>

      <p class="text-center py-3">
        <a class="btn btn-gold" type="button" target="_blank" href="https://www.google.com/maps/dir/?api=1&destination=45.23207409855136%2C-73.31837062403082">
          Cliquez ici pour lancer l'itinéraire dans Google Maps
        </a>
      </p>
    </div>

    <div class="col-md-6 text-center">
      <div id="map"></div>
    </div>
  </div>
</div>
